[Desktop Entry]
Name=KompareNavTreePart
MimeType=text/x-patch;
ServiceTypes=Kompare/NavigationPart
X-KDE-Library=kf5/parts/komparenavtreepart
Type=Service
Icon=kompare
