# KDE Config File
[Desktop Entry]
Type=Application
Name=Kompare
Name[ar]=المقارن
Name[fr]=Outil de comparaison de fichiers
Name[lv]=Salīdzināt
Name[xx]=xx
Comment=Diff/Patch frontend
Comment[xx]=xx
MimeType=text/x-diff;
Exec=kompare -caption "%c" %i %m %U
Icon=kompare
DocPath=kompare/index.html
Terminal=0
X-DCOP-ServiceType=Multi
