# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Kompare
Name[af]=K-vergelyk
Name[ar]=المقارن
Name[eo]=Komparilo
Name[hi]=काम्पेयर
Name[lv]=Salīdzināt
Name[ta]=கோம்பெர்
Name[th]=เปรียบเทียบ
Name[tr]=Karşılaştır
Name[xx]=xxKomparexx
GenericName=Diff/Patch Frontend
GenericName[af]=Diff/Lap Voorprogram
GenericName[ar]=واجهة Diff/Patch
GenericName[bs]=Frontend za Diff/Patch
GenericName[ca]=Interfície per a diff/patch
GenericName[cs]=Rozhraní pro Diff/Patch
GenericName[cy]=Blaen Gwahaniaethau/Clytiau
GenericName[da]=Diff/patch-grænseflade
GenericName[de]=Oberfläche für Diff und Patch
GenericName[eo]=Fasado por la programoj "diff" kaj "patch"
GenericName[es]=Interfaz Diff/Patch
GenericName[et]=Diff/patch kasutajaliides
GenericName[eu]=Desberdintasun/Adabaki interfazea
GenericName[fi]=Diff/Patch käyttöliittymä
GenericName[fr]=Interface graphique pour Diff et Patch
GenericName[he]=ממשק ל-Diff/Patch
GenericName[hi]=डिफ/पैच फ्रन्टएण्ड
GenericName[hr]=Sučelje za Diff/Patch 
GenericName[hu]=Grafikus diff/patch
GenericName[is]=Myndrænt viðmót á Diff/Patch
GenericName[it]=Interfaccia per diff e patch
GenericName[ja]=Diff/Patchフロントエンド
GenericName[lt]=Diff/Patch vartotojo sąsaja
GenericName[lv]=Diff/Patch Frontends
GenericName[ms]=Bahagian Depan Beza/Tampal
GenericName[nb]=Endrings-/lappeprogram
GenericName[nl]=Diff/Patch-hulpprogramma
GenericName[nn]=Diff-/Patch-grensesnitt
GenericName[pl]=Interfejs dla programów diff i patch
GenericName[pt]=Interface do Diff/Patch
GenericName[pt_BR]=Interface para Diferenças (diff)/Correções
GenericName[ro]=Interfaţă grafică pentru "diff" şi "patch"
GenericName[ru]=Утилита сравнения файлов
GenericName[sk]=Rozhranie Diff/Patch
GenericName[sl]=Vmesnik za diff/patch
GenericName[sr]=Интерфејс за Diff/Patch
GenericName[sr@Latn]=Interfejs za Diff/Patch
GenericName[sv]=Gränssnitt för Diff/Patch
GenericName[ta]=டிப்/ஒட்டு முன்பகுதி
GenericName[tg]=Утилитаи баробаркунии файлҳо
GenericName[th]=ฟรอนต์เอนด์ของ Diff/Patch
GenericName[tr]=Diff/Yama Önyüzü
GenericName[uk]=Інтерфейс до diff/patch
GenericName[xx]=xxDiff/Patch Frontendxx
GenericName[zh_CN]=Diff/Patch 前端
GenericName[zh_TW]=Diff/Patch 前端
GenericName[zu]=Diff/PatchIsiqalo sokugcina
MimeType=text/x-diff;
Exec=kompare -caption "%c" -o %U
Icon=kompare
DocPath=kompare/index.html
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;
InitialPreference=10
