# KDE Config File
[Desktop Entry]
Type=Application
Name=Kompare
Name[af]=K-vergelyk
Name[eo]=Komparilo
Name[ne]=तुलना
Name[pa]=ਕੇ-ਤੁਲਨਾ
Name[sr]=К‑поређење
Name[sr@latin]=K‑poređenje
Name[ta]=கோம்பெர்
Name[x-test]=xxKomparexx
GenericName=Diff/Patch Frontend
GenericName[af]=Diff/Lap Voorprogram
GenericName[ca]=Interfície per a diff/patch
GenericName[cs]=Rozhraní pro Diff/Patch
GenericName[cy]=Blaen Gwahaniaethau/Clytiau
GenericName[da]=Diff/patch-grænseflade
GenericName[de]=Oberfläche für Diff und Patch
GenericName[el]=Πρόγραμμα Diff/Patch
GenericName[eo]=Fasado por la programoj "diff" kaj "patch"
GenericName[es]=Interfaz Diff/Patch
GenericName[et]=Diff/patch kasutajaliides
GenericName[eu]=Desberdintasun/Adabaki interfazea
GenericName[fa]=پایانۀ Diff/کژنه
GenericName[fi]=Diff/Patch-käyttöliittymä
GenericName[fr]=Interface graphique pour Diff et Patch
GenericName[ga]=Comhéadan Diff/Patch
GenericName[gl]=Interface para Diff/Patch
GenericName[he]=ממשק ל-Diff/Patch
GenericName[hr]=Sučelje za Diff/Patch 
GenericName[hu]=Grafikus diff/patch
GenericName[is]=Myndrænt viðmót á Diff/Patch
GenericName[it]=Interfaccia per diff e patch
GenericName[ja]=Diff/Patch フロントエンド
GenericName[kk]=Diff/Patch интерфейсі
GenericName[ko]=Diff/Patch 프론트엔드
GenericName[lt]=Diff/Patch naudotojo sąsaja
GenericName[lv]=Diff/Patch priekšpuse
GenericName[ms]=Bahagian Depan Beza/Tampal
GenericName[nb]=Diff-/Patch-grensesnitt
GenericName[nds]=Böversiet för "diff" un "patch"
GenericName[ne]=Diff/Patch फ्रन्टइन्ड
GenericName[nl]=Diff/Patch-hulpprogramma
GenericName[nn]=Diff-/Patch-grensesnitt
GenericName[pa]=Diff/ਪੈਂਚ ਫਰੰਟਐਂਡ
GenericName[pl]=Interfejs dla programów diff i patch
GenericName[pt]=Interface do Diff/Patch
GenericName[pt_BR]=Interface do Diff/Patch
GenericName[ro]=Interfaţă grafică pentru "diff" şi "patch"
GenericName[ru]=Утилита сравнения файлов
GenericName[sk]=Rozhranie Diff/Patch
GenericName[sl]=Vmesnik za diff/patch
GenericName[sr]=Сучеље за разликовање и крпљење
GenericName[sr@latin]=Sučelje za razlikovanje i krpljenje
GenericName[sv]=Gränssnitt för Diff/Patch
GenericName[ta]=டிப்/ஒட்டு முன்பகுதி
GenericName[tg]=Утилитаи баробаркунии файлҳо
GenericName[tr]=Diff/Patch Önyüzü
GenericName[uk]=Інтерфейс до diff/patch
GenericName[x-test]=xxDiff/Patch Frontendxx
GenericName[zh_CN]=Diff/Patch 前端
GenericName[zh_TW]=Diff/Patch 前端
MimeType=text/x-patch;
Exec=kompare -caption "%c" -o %U
Icon=kompare
X-DocPath=kompare/index.html
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Development;
InitialPreference=10
