[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
Actions=kompare
Type=Service
MimeType=inode/directory;application/octet-stream;
X-KDE-RequiredNumberOfUrls=2

[Desktop Action kompare]
Name=Compare Files
Name[ca]=Compara fitxers
Name[ca@valencia]=Compara fitxers
Name[es]=Comparar archivos
Name[fr]=Comparer des fichiers
Name[gl]=Comparar os ficheiros
Name[it]=Confronta file
Name[nl]=Bestanden vergelijken
Name[pt]=Comparar os Ficheiros
Name[sl]=Primerjaj datoteki
Name[sv]=Jämför filer
Name[uk]=Порівняти файли
Name[x-test]=xxCompare Filesxx
Name[zh_CN]=比较文件
Icon=kompare
Exec=kompare -c %U >/dev/null
