[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
Actions=kompare
Type=Service
MimeType=inode/directory;application/octet-stream;
X-KDE-RequiredNumberOfUrls=2

[Desktop Action kompare]
Name=Compare Files
Name[ca]=Compara fitxers
Name[ca@valencia]=Compara fitxers
Name[cs]=Porovnat soubory
Name[de]=Dateien vergleichen
Name[el]=Σύγκριση αρχείων
Name[en_GB]=Compare Files
Name[es]=Comparar archivos
Name[fi]=Vertaile tiedostoja
Name[fr]=Comparer des fichiers
Name[gl]=Comparar os ficheiros
Name[it]=Confronta file
Name[ko]=파일 비교하기
Name[nl]=Bestanden vergelijken
Name[nn]=Samanlikna filer
Name[pl]=Porównaj pliki
Name[pt]=Comparar os Ficheiros
Name[pt_BR]=Comparar arquivos
Name[sl]=Primerjaj datoteki
Name[sv]=Jämför filer
Name[uk]=Порівняти файли
Name[x-test]=xxCompare Filesxx
Name[zh_CN]=比较文件
Name[zh_TW]=比較檔案
Icon=kompare
Exec=kompare -c %U >/dev/null
