[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
Actions=kompare
Type=Service
MimeType=inode/directory;application/octet-stream;
X-KDE-RequiredNumberOfUrls=2

[Desktop Action kompare]
Name=Compare Files
Icon=kompare
Exec=kompare -c %U >/dev/null
