[Desktop Entry]
Encoding=UTF-8
GenericComment=A part to graphically show the difference between 2 files
Name=KomparePart
Name[af]=K-vergelyk-deel
Name[de]=Einbettungsfähige Komponente von Kompare
Name[eo]=Komparo-parto
Name[fr]=Composant de comparaison de fichiers
Name[he]=רכיב Kompare
Name[hi]=काम्पेयर-पार्ट
Name[lv]=SalīdzinātDaļu
Name[pl]=Moduł Kompare
Name[pt_BR]=Parte do Kompare
Name[ro]=Componentă Kompare
Name[ru]=Компонент утилиты сравнения файлов
Name[sv]=Kompare-del
Name[ta]=கோம்பெர்  உறுப்பு
Name[th]=ส่วนเปรียบเทียบ
Name[xx]=xxKomparePartxx
Name[zu]=Ingxenye yeKompare
MimeType=text/x-diff
ServiceTypes=Kompare/ViewPart,KParts/ReadWritePart,KParts/ReadOnlyPart
X-KDE-Library=libkomparepart
Type=Service
Icon=kompare
InitialPreference=10
