[Desktop Entry]
Name=KomparePart
MimeType=text/x-diff
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkomparepart
Type=Service
Icon=kompare
