<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdiff_part" version="3">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_save"/>
  </Menu>
  <Menu name="difference"><text>&amp;Difference</text>
    <Action name="difference_previousfile"/>
    <Action name="difference_nextfile"/>
    <Separator/>
    <Action name="difference_previous"/>
    <Action name="difference_next"/>
    <Separator/>
    <Action name="difference_differences"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="options_configure"/>
    <Action name="settings_synchronize_scroll_bars"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="file_save"/>
  <Separator/>
  <Action name="difference_previousfile"/>
  <Action name="difference_nextfile"/>
  <Separator/>
  <Action name="difference_previous"/>
  <Action name="difference_next"/>
</ToolBar>
</kpartgui>
