[Desktop Entry]
Name=KDiffPart
Name[de]=KDiff-Objekt
Name[eo]=Diferenc-komponento
Name[fr]=Composant de comparaison de fichiers
Name[pl]=Komponent Różnica
Name[sv]=KDiffDel
MimeType=text/x-diff
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkdiffpart
Type=Service
Icon=kdiff
