[Desktop Entry]
GenericComment=A part to graphically show the difference between 2 files
Name=KomparePart
MimeType=text/x-patch;
ServiceTypes=Kompare/ViewPart,KParts/ReadWritePart,KParts/ReadOnlyPart
X-KDE-Library=kf5/parts/komparepart
Type=Service
Icon=kompare
InitialPreference=10
