[Desktop Entry]
Encoding=UTF-8
Name=KomparePart
Name[de]=Einbettungsfähiges Kompare-Programm
Name[fr]=Composant de comparaison de fichiers
Name[he]=רכיב Kompare
Name[lv]=SalīdzinātDaļu
Name[pt_BR]=Parte do Kompare
Name[sv]=Kompare-del
Name[xx]=xx
Name[zu]=Ingxenye yeKompare
MimeType=text/x-diff
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkomparepart
Type=Service
Icon=kompare
